<h1 style="margin:20px 0px 80px; text-align: center;">Asistencias de clientes</h1>


<mat-card >

  <mat-card-title>

    <mat-form-field appearance="fill" class="minimalist-PDF" style="width: 200px;">
      <mat-label>Opciones</mat-label>
      <mat-select formControlName="metodoBusqueda" >

        <mat-option (click)="nuevaAsistencia()">
          <mat-icon class="icon-naraja">add</mat-icon>
          Registrar Asistencia
        </mat-option>



      </mat-select>
      <mat-icon matSuffix>more_vert</mat-icon>
    </mat-form-field>


  </mat-card-title>
  <!-- <br>
  <mat-divider></mat-divider> -->

  <mat-card-content class="dashboard-card-content">

    <!-- <mat-form-field appearance="fill" style="width: 950px;">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="aplicarFiltroTabla($event)" #input>

    </mat-form-field> -->
    <mat-form-field appearance="fill" class="futuristic-search-field">
      <input matInput (keyup)="aplicarFiltroTabla($event)" #input placeholder="Buscar">
      <button mat-icon-button matSuffix aria-label="Buscar" class="futuristic-search-button">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>



    <div class="table-container">

      <table mat-table [dataSource]="dataListaAsistencia" matSort>

        <ng-container matColumnDef="asistenciaId">
          <th mat-header-cell *matHeaderCellDef style="background-color: #3f4448; color: white; text-align: center;">
            Id Asistencia </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;"
           >
            {{element.asistenciaId}} </td>
        </ng-container>


        <ng-container matColumnDef="nombreUsuario">
          <th mat-header-cell *matHeaderCellDef style="background-color: #3f4448; color: white; text-align: center;">
            Nombre del cliente </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;"
           >
            {{element.nombreUsuario}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaAsistencia">
          <th mat-header-cell *matHeaderCellDef style="background-color: #3f4448; color: white; text-align: center;">
            Fecha de asistencia </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;"
          >
            {{element.fechaAsistencia}} </td>
        </ng-container>



        <ng-container matColumnDef="pagoRealizado">
          <th mat-header-cell *matHeaderCellDef style="background-color: #3f4448; color: white; text-align: center;">
            Estado del pago
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <button mat-raised-button
                    [style.backgroundColor]="element.pagoRealizado ? 'green' : 'red'"
                    [style.color]="'white'">
              {{ element.pagoRealizado ? 'Pagado' : 'No Pagado' }}
            </button>
          </td>
        </ng-container>



        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef style="width: 80px; text-align: center;"
            style="background-color: #3f4448; color: white;text-align: center;">Acciones</th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">



            <button mat-icon-button color="primary" (click)="verCalendario(element.idUsuario)" matTooltip="Ver Calendario">
              <mat-icon>visibility</mat-icon>
            </button>

          </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
        <tr mat-row *matRowDef="let row; columns : columnasTabla;"></tr>


        <tr class="mat-row" *matNoDataRow>

          <td class="mat-cell " colspan="4">No hay datos que coincida con el filtro"{{input.value}}"</td>
        </tr>

      </table>



      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
        itemsPerPageLabel="Elementos por página"></mat-paginator> -->
<!--
        <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons>

        </mat-paginator> -->


        <div class="pagination-controls">
          <button mat-icon-button class="pasar" (click)="firstPage()" matTooltip="Primera página"
          [disabled]="this.page === 1">
            <mat-icon>first_page</mat-icon>
          </button>
          <button mat-icon-button class="pasar" (click)="previousPage()" matTooltip="Página anterior"
          [disabled]="this.page === 1">
            <mat-icon>navigate_before</mat-icon>
          </button>
          <mat-form-field appearance="outline" class="page-size-select">
            <mat-label>Registros por página</mat-label>
            <mat-select [(value)]="pageSize" (selectionChange)="pageSizeChange()">
              <mat-option value="5">5</mat-option>
              <mat-option value="10">10</mat-option>
              <mat-option value="25">25</mat-option>
              <mat-option value="100">100</mat-option>
            </mat-select>
          </mat-form-field>
          <span class="page-info">Página {{ page }} de {{ totalPages }}</span>
          <button mat-icon-button class="pasar" (click)="nextPage()" matTooltip="Siguiente página"

          [disabled]="this.page === totalPages">
            <mat-icon>navigate_next</mat-icon>
          </button>
          <button mat-icon-button class="pasar" (click)="lastPage()" matTooltip="Última página"

          [disabled]="this.page === totalPages">
            <mat-icon>last_page</mat-icon>
          </button>
        </div>


    </div>



  </mat-card-content>




</mat-card>
<footer class="footer">
  <p>Copyright &copy; 2024 - Hecho con orgullo en Colombia. Todos los derechos reservados.</p>
</footer>
