<h1 style="margin:20px 0px 0px 40px ; text-align: center;">Informacion - resumen último mes</h1>
<div class="Ventas">

  <!-- <button mat-raised-button class="minimalist-Ventas" (click)="configurarVentaObjetiva()">
    <mat-icon>emoji_events</mat-icon>
    Configurar Meta De Venta
  </button> -->


</div>

<mat-card style="margin: 5px 5px 5px 5px">


  <mat-card-content class="dashboard-card-content">
    <mat-grid-list [cols]="isMobile ? 1 : 3" rowHeight="100px" gutterSize="16px">


      <mat-grid-tile>


        <mat-card class="card-info">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon color="accent">payments</mat-icon>
            </div>
            <mat-card-title>Total de Ingresos</mat-card-title>
            <mat-card-subtitle style="text-align: center;">{{ formatearNumero(totalIngresos) }} $</mat-card-subtitle>
          </mat-card-header>
        </mat-card>

      </mat-grid-tile>


      <mat-grid-tile>
        <mat-card class="card-info">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon color="warn">fitness_center</mat-icon>
            </div>
            <mat-card-title>Total de Entrenadores</mat-card-title>
            <mat-card-subtitle style="text-align: center;">{{totalEntrenadores}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>




      <mat-grid-tile>
        <mat-card class="card-info">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon color="primary">people</mat-icon>
            </div>
            <mat-card-title>Total de Usuarios </mat-card-title>
            <mat-card-subtitle style="text-align: center;">{{totalUsuarios}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="card-info">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon color="warn2">people</mat-icon>
            </div>
            <mat-card-title>Total de Clientes </mat-card-title>
            <mat-card-subtitle style="text-align: center;">{{totalCliente}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>




      <mat-grid-tile>

        <mat-card class="card-info">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon color="primary2">person</mat-icon>
            </div>
            <mat-card-title>Responsable de la Caja</mat-card-title>
            <mat-card-subtitle style="text-align: center;">{{NombreCaja}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>

      </mat-grid-tile>

      <mat-grid-tile>

        <mat-card class="card-info">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon color="accent2">point_of_sale</mat-icon>
            </div>
            <mat-card-title>Saldo en Caja</mat-card-title>
            <mat-card-subtitle style="text-align: center;">{{formatearNumero(TotalCaja)}} $</mat-card-subtitle>
          </mat-card-header>
        </mat-card>

      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="card-info">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon color="warn2">emoji_events</mat-icon>
            </div>
            <mat-card-subtitle>
              <button mat-raised-button class="minimalist-Ventas" (click)="configurarVentaObjetiva()">
                {{ isMobile ? 'Configurar Metas' : 'Configurar Meta De Pagos' }}
              </button>
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>



    </mat-grid-list>

    <mat-card class="sales-card">
      <mat-card-content>
        <div class="chart-container">
          <div class="chart chart-left">
            <h3>Pago del Mes</h3>
            <canvas id="myChart"></canvas>
          </div>
          <div class="chart chart-right">
            <h3>Pago por Meses</h3>
            <canvas id="myChartDoce"></canvas>
          </div>

        </div>
      </mat-card-content>
    </mat-card>

    <br>


    <div class="clientes-mas-asistencias-container">
      <h2 class="titulo-clientes-mas-asistencias">Los 3 Clientes con Más Asistencias</h2>

      <div *ngIf="clientesConMasAsistencias.length > 0" class="clientes-mas-asistencias-lista">
        <div *ngFor="let cliente of clientesConMasAsistencias; let i = index" class="cliente-mas-asistencia"
          [ngClass]="{ 'cliente-destacado-1': i === 0, 'cliente-destacado-2': i === 1, 'cliente-destacado-3': i === 2 }"
          (mouseenter)="onMouseEnter(cliente, i + 1)" (mouseleave)="onMouseLeave(cliente)">

          <!-- Foto del cliente (si existe) -->
          <img *ngIf="cliente.imagenData" class="img-hover-zoom" [src]="'data:image/png;base64,' + cliente.imagenData"
            alt="Imagen del cliente" width="100" height="100" style="object-fit: contain;"
            (click)="abrirDialogImagen('data:image/png;base64,' + cliente.imagenData)">

          <!-- Nombre del cliente -->
          <p class="nombre-cliente">
            {{ cliente.nombre.length > 40 ? cliente.nombre.slice(0, 40) + '...' : cliente.nombre }}
          </p>

          <!-- Número de asistencias -->
          <p class="asistencias-cliente">Asistencias: {{ cliente.totalAsistencias }}</p>
        </div>
      </div>

      <div *ngIf="clientesConMasAsistencias.length === 0" class="sin-clientes-mas-asistencias">
        <p>No hay clientes con más asistencias para mostrar.</p>
      </div>
    </div>

    <br>

    <mat-card class="clientes-mas-asistencias-card">
      <mat-card-header style="display: flex; justify-content: center; align-items: center;">
        <mat-card-title>Clientes con Más Asistencias</mat-card-title>
      </mat-card-header>


      <mat-form-field appearance="fill" class="futuristic-search-field">
        <input matInput [(ngModel)]="filtro" (ngModelChange)="onFiltroChange()"
          placeholder="Ingrese el nombre del cliente">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>


      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Imagen</th>
              <th>Producto</th>

              <th>Cantidad Vendida</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productosPaginados">
              <td>

                <img *ngIf="producto.imagenData" class="img-hover-zoom"
                  [src]="'data:image/png;base64,' + producto.imagenData" alt="Imagen del producto" width="80"
                  height="80" style="object-fit: contain;"
                  (click)="abrirDialogImagen('data:image/png;base64,' + producto.imagenData)">
              </td>
              <td>{{ producto.nombre.length > 40 ? producto.nombre.slice(0, 40) + '...' : producto.nombre }}</td>

              <td>{{ producto.totalAsistencias }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="paginacion">
        <button mat-raised-button (click)="paginaAnterior()" class="ver" [disabled]="paginaActual === 1">
          <mat-icon>navigate_before</mat-icon> Anterior
        </button>
        <span>Página {{ paginaActual }} de {{ numeroDePaginas }}</span>
        <button mat-raised-button (click)="siguientePagina()" color="accent"
          [disabled]="paginaActual === numeroDePaginas">
          Siguiente <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
      <br>


    </mat-card>


    <br>

  </mat-card-content>


</mat-card>
<footer class="footer">
  <p>Copyright &copy; 2025 - Hecho con orgullo en Colombia. Todos los derechos reservados.</p>
</footer>